<% provide(:title, "About") %>
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur
condimentum lorem, ut vestibulum urna vestibulum quis. Nam id magna cursus,
pulvinar tortor ut, sodales nisl. Donec aliquet, massa non tincidunt finibus,
libero tellus pretium risus, sit amet finibus felis mi a velit. Sed in sodales
nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada
fames ac turpis egestas. Aliquam erat volutpat. Nunc eleifend tristique orci, at
lobortis dolor condimentum in. Quisque accumsan sapien non tortor malesuada
convallis. Suspendisse hendrerit elit ac lorem hendrerit, at vehicula purus
egestas. Nunc nec metus nisi.</p>
