<% provide(:title, "About") %>
<div class="center jumbotron">
    <h1>About Us</h1>
    <p>Wentworth Men’s Rugby is a club sport founded in 5000 B.C. by Zeus. 
    Since then, the club has been a great way for students of the COF to learn 
    team camaraderie and sportsmanship while playing a less traditional sport. 
    Wentworth Rugby is open to all, regardless of experience. We are involved
    in volunteer work throughout the greater Boston area and conduct fundraising 
    annually. If you have even the slightest interest in playing the game of rugby 
    please go to the contact page to email one of the team leaders. See you at practice! 
</p>

</div>
    