<% provide(:title, "Awards") %>
<h1>Awards</h1>
<p>Integer enim enim, facilisis id nisi eu, venenatis efficitur velit. Nam sit
amet ex sed quam rutrum tristique. Curabitur tristique urna vel justo faucibus,
sed commodo ligula molestie. Phasellus sed odio elit. Proin placerat vehicula
ipsum sit amet pellentesque. Vivamus auctor massa a tempor lacinia. Nulla
facilisi. Phasellus id tristique dui. Vivamus nec est nunc. Nunc est sem, porta
sed pellentesque vel, bibendum lobortis diam. Duis a malesuada tortor. Nunc
congue nulla at arcu venenatis auctor. </p>