<% provide(:title, "Awards") %>
<h1>Awards</h1>


<div class="row">
    <%= image_tag('awards_teampic.jpg', class: "col-xs-4 col-md-4 col-lg-4 vcenter", id: "team-pic") %>
    <p class="col-xs-8 col-md-8 col-lg-8 pull-right vcenter">
    The team’s most recent accomplishment came in the Spring of 2016
    when the Leopards entered into the Providence, RI “Beast of the East” 
    tournament. After defeating Mass Maritime 42-19 and Fitchburg State 49-0, 
    the Men’s team took home their first Championship Plaque in club history.
    
    
    </p>
    
    
</div>