<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>Aliquam id cursus dolor, eget tristique mauris. Fusce sollicitudin quam quis
elementum pretium. Maecenas suscipit nibh tortor, sollicitudin consequat sapien
mattis eget. Suspendisse nec molestie elit. Donec sit amet augue nulla. Fusce
quis turpis eget lorem pellentesque tempor sit amet in urna. Nulla facilisi.
Suspendisse urna augue, maximus in facilisis sed, condimentum eu mauris. Quisque
interdum leo eu nulla porttitor, non aliquam metus interdum. Nullam sagittis
massa ac ultricies posuere. Suspendisse potenti.</p>