<% provide(:title, "Home") %>
<h1>Home</h1>
<p> Vivamus eget libero id enim malesuada vestibulum et in purus. Lorem ipsum
dolor sit amet, consectetur adipiscing elit. Nunc convallis, justo nec ornare
sollicitudin, enim tellus convallis arcu, tempor luctus purus libero iaculis
tortor. Quisque consequat vehicula lacus in rhoncus. Vestibulum mattis mattis
ipsum, ut mollis lectus iaculis gravida. Aliquam lectus nisi, ultrices quis nunc
sed, egestas posuere velit. Pellentesque ligula turpis, pellentesque vitae
sapien non, eleifend sollicitudin risus. Phasellus sit amet lectus quis augue
lobortis lobortis. Praesent vulputate eros a ligula vehicula scelerisque.
Suspendisse id massa accumsan, accumsan leo id, accumsan quam. Quisque faucibus
eros tellus, sed pharetra turpis tempus eu.</p>
