<% provide(:title, "Media") %>
<h1>Media</h1>
<p>Phasellus congue laoreet vestibulum. Donec efficitur lacus in sem aliquet, at
tempus nisl consequat. Quisque laoreet, sapien vitae pharetra vestibulum, libero
elit tristique urna, eu ornare leo orci a neque. Nunc in ornare dolor. Integer a
egestas mi, et faucibus est. Praesent pretium est metus, ultricies accumsan
lectus hendrerit nec. Integer suscipit neque lorem, dapibus vulputate urna
congue euismod. Pellentesque sollicitudin ante maximus eros tincidunt lacinia.
Nullam sagittis malesuada quam, eget mattis sem lacinia a. Sed sem urna, posuere 
nec aliquet sit amet, finibus in lectus. Nam interdum aliquet auctor. Etiam
magna lacus, ultrices eget ex ut, posuere venenatis urna. Etiam porttitor
laoreet massa ut ultrices.</p>