<% provide(:title, "Roster") %>
<h1>Roster</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in
lacinia lacus. Etiam volutpat laoreet lacus, sed dignissim lorem iaculis eu.
Aliquam sapien quam, auctor eu pharetra vitae, ornare quis turpis. Donec viverra
massa in lectus feugiat consectetur. Proin congue nunc arcu, vitae venenatis leo
sagittis volutpat. Vivamus ornare ut libero a ultrices. Sed scelerisque lorem
nulla, ut aliquet sapien ullamcorper quis. Aenean rutrum faucibus nisi id
eleifend. Aenean maximus vel odio ut suscipit. Aliquam nunc nunc, vulputate in
purus id, suscipit tincidunt orci. Mauris a mattis nibh, ut porttitor lorem.
Vestibulum hendrerit massa justo, sed bibendum lacus scelerisque nec. Sed ligula
purus, scelerisque id purus id, tincidunt viverra lectus. Phasellus bibendum
fringilla tortor, vestibulum rhoncus purus. Nullam rutrum mi sapien, at eleifend
ligula ullamcorper a.</p>