<% provide(:title, "Schedule") %>
<h1>Schedule</h1>
<p>Aenean et urna sit amet ex luctus sagittis at id ligula. Pellentesque
habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
Suspendisse luctus mi tempus leo vehicula ornare. Proin justo velit, feugiat a
ultrices non, sodales vitae nisi. Cras volutpat risus ac ipsum vehicula,
consequat lacinia metus tincidunt. Proin hendrerit tincidunt bibendum.
Pellentesque iaculis justo nulla, a malesuada neque commodo quis. Vestibulum
magna ex, tincidunt sed ipsum malesuada, congue feugiat ipsum.</p>