// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* header */

body { padding-top: 40px; }

@media (min-width: 768px){
    body { padding-top: 120px; }
    .navbar-nav{
        background-color: transparent;
        float: absolute;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.top-header, #logo{
    background-color: black;
    width: 100%;
    text-align: center !important;
    //float: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*
.drop-nav{
    width: auto;
    background-color:white;
    float: none;
    margin: 0;
}
.drop-container{
    width: 100%;
    float: none;
    margin: auto;
    text-align:center;
}*/
footer{
    display: block;
    width:100%;
    margin:auto;
}
.footer-logos{
    display: flex;
    vertical-align:top;
    max-width: 1065px;
    margin: auto;
}
.footer-text{
    text-align: center;
    vertical-align:baseline;
}
.team-info{
    display:table;
    text-align:center;
    margin:auto;
}
.team-info,.footer-text{
    width: 100%;
    background-color:black;
    color:white;
}
.team-logo img{
    height:36px;
}
.team-logo{
    display:inline-block;
}